.page-height {
  height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #cccccc;
}

.brand-large {
  font-size: 2rem;
  font-weight: bold;
}
