<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="row p-5 h-75" style="background-color: rgba(0, 0, 0, 0.137);" *ngIf="person">
    <div class="col-12">
      <h1 class="text-white">Person details</h1>
    </div>

    <div class="col-4">
      <div class="card">
        <img src="{{person.photo || '../../../../../assets/user.png'}}" alt="{{person.firstName}}"
          class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Age:</strong>
            <p>{{age}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{person.created | date:'dd MMM yyyy'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger" (click)="back()">Cancel</button>
            <button type="submit" form="editForm" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
      <button (click)="confirmAction()" class="btn btn-danger w-100 mt-5"><i class="fa fa-trash"></i> Delete
        Person</button>
    </div>

    <div class="col-8">
      <tabset class="person-tabset text-white">
        <tab heading="About {{userName}}">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updatePerson(editForm)">
            <h6 class="mt-2">First Name</h6>
            <input class="form-control" [(ngModel)]="person.firstName" name="firstName" required>
            <div *ngIf="editForm.submitted && !editForm.controls['firstName'].valid" class="text-danger">
              First Name is required
            </div>

            <h6 class="mt-2">Last Name</h6>
            <input class="form-control" [(ngModel)]="person.lastName" name="lastName" required>
            <div *ngIf="editForm.submitted && !editForm.controls['lastName'].valid" class="text-danger">
              Last Name is required
            </div>

            <h6 class="mt-2">Gender</h6>
            <ng-select [items]="genderList" bindLabel="name" name="gender" bindValue="name"
              placeholder="Select a gender" [(ngModel)]="person.gender" required></ng-select>
            <div *ngIf="editForm.submitted && !editForm.controls['gender'].valid" class="text-danger">
              Gender is required
            </div>

            <h6 class="mt-2">Email Address</h6>
            <input [(ngModel)]="person.emailAddress" type="email" name="emailAddress" class="form-control" email
              required>
            <div *ngIf="editForm.submitted && !editForm.controls['emailAddress'].valid" class="text-danger">
              Valid Email Address is required
            </div>

            <h6 class="mt-2">Phone Number</h6>
            <input class="form-control" [(ngModel)]="person.phoneNumber" type="text" name="phoneNumber" required>
            <div *ngIf="editForm.submitted && !editForm.controls['phoneNumber'].valid" class="text-danger">
              Phone Number is required
            </div>

            <h6 class="mt-2">Date of Birth</h6>
            <input type="text" [bsConfig]="{ adaptivePosition: true }" class="form-control" bsDatepicker
              [(ngModel)]="person.dateOfBirth" name="dateOfBirth" placeholder="Date of Birth" required>
            <div *ngIf="editForm.submitted && !editForm.controls['dateOfBirth'].valid" class="text-danger">
              Date of Birth is required
            </div>
          </form>
        </tab>
        <tab heading="Edit Photos">
          <div class="form-group">
            <label *ngIf="!previewUrl" for="fileInput" class="btn btn-primary mt-5">
              <i class="fa fa-upload"></i> Choose File
              <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" hidden>
            </label>
            <button *ngIf="previewUrl" (click)="uploadFile()" class="btn btn-primary btn-block mt-5"><i class="fa fa-upload"></i> Upload</button>
          </div>
          <div *ngIf="previewUrl" class="text-center mt-3">
            <img [src]="previewUrl" alt="Preview" class="img-thumbnail" width="200">
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
